<div class="page-width">

  {% if section.settings.title != blank %}
    <h2>{{ section.settings.title | escape }}</h2>
	{% endif %}

	<div class="grid grid--2-col-desktop">
		{% for member in section.blocks %}
			<div class="grid__item">
				<h3>{{ member.settings.staff-name }}</h3>
				<span>{{ member.settings.staff-title }}</span>
				<p>{{ member.settings.staff-bio }}</p>
			</div>
		{% endfor %}
	</div>
</div>

{% schema %}
{
	"name": "Team Members",
	"class": "team-members-section",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Section Title",
			"default": "Meet our Team"
		}
	],
	"blocks": [
		{
			"name": "Team Member",
			"type": "staff-profile",
			"settings": [
				{
					"type": "text",
					"id": "staff-name",
					"label": "Name"
				},
				{
					"type": "text",
					"id": "staff-title",
					"label": "Job Title"
				},
				{
					"type": "textarea",
					"id": "staff-bio",
					"label": "Bio"
				}
			]
		}
	],
  "presets": [
    {
      "name": "Team Members"
    }
  ]
}
{% endschema %}