<div class="page-width">
  {% if section.settings.title != blank %}
    <h2>{{ section.settings.title | escape }}</h2>
	{% endif %}
</div>

{% schema %}
{
	"name": "t:sections.team-members.name",
	"class": "team-members-section",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Section Title",
			"default": "Meet our Team"
		}
	],
  "presets": [
    {
      "name": "t:sections.team-members.presets.name"
    }
  ]
}
{% endschema %}